@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100%; /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0; /* sticky footer */
}

input {
  font-family: "PT Sans", sans-serif;
  color: #31405b;
}

label {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%; /* sticky footer */
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  height: 50px;
  padding: 0px 40px;
  background: #0ac883;
  -webkit-box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
          box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  border: none;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background: #099461;
  -webkit-box-shadow: 0px 8px 20px rgba(17, 145, 98, 0.35);
          box-shadow: 0px 8px 20px rgba(17, 145, 98, 0.35);
}
.button:focus {
  background: #099461;
  -webkit-box-shadow: 0px 8px 20px rgba(17, 145, 98, 0.35);
          box-shadow: 0px 8px 20px rgba(17, 145, 98, 0.35);
}

.nav-icon {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: rgb(245, 99, 53);
}
.nav-icon:focus .nav-icon__middle,
.nav-icon:focus .nav-icon__middle::before,
.nav-icon:focus .nav-icon__middle::after {
  background-color: rgb(245, 99, 53);
}

.nav-icon__middle {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  width: 32px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  -webkit-transition: top 0.2s linear 0.2s, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.nav-icon__middle::before {
  top: -9px;
}
.nav-icon__middle::after {
  top: 9px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  right: 15px;
  z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.logo:hover {
  color: rgb(245, 99, 53);
}
.logo:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.header {
  height: 800px;
  padding-top: 50px;
  position: relative;
  background-color: #265847;
  background-image: url("../img/index/header-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.header--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #265847;
  background-image: url("../img/tours/header-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header__nav {
  font-size: 22px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-button {
  display: none;
  border: none;
  outline: none;
  background: transparent;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  color: #ffffff;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.header__nav-link:hover {
  color: rgb(245, 99, 53);
}
.header__nav-link:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.header__title-block {
  width: 1170px;
  position: absolute;
  top: 51.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}

.header__title-block p {
  font-size: 24px;
}

.header__scroll {
  display: inline-block;
  padding-bottom: 34px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 16px;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.header__scroll:hover,
.header__scroll:focus {
  outline: none;
  opacity: 0.85;
}

.header__scroll::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../img/icons/arrow-down.svg");
}

.main {
  padding: 120px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main__row:not(:last-child) {
  margin-bottom: 120px;
}

.main__content {
  width: 470px;
}

.main__image {
  width: 570px;
}

.main-content-header {
  margin-bottom: 20px;
}

.main-header {
  font-weight: 700;
  font-size: 54px;
  color: #31405b;
}

.main__content-text a {
  text-decoration-line: underline;
  color: #138ece;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.main__content-text a:hover {
  color: rgb(245, 99, 53);
}
.main__content-text a:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.main__content-text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.6;
  color: #31405b;
}

.main__content-text p {
  margin-bottom: 15px;
}

.footer {
  margin-top: auto; /* sticky footer */
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #265847;
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__widgets-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.footer__copyright {
  width: 270px;
}

.footer__logo {
  margin-bottom: 26px;
}

.footer__copyright p {
  font-size: 16px;
  line-height: 1.6;
}

.footer__widget + .footer__widget {
  margin-left: 30px;
}

.footer__widget-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
}

.footer__widget-list {
  font-size: 18px;
}

.footer__widget-item {
  margin-bottom: 15px;
}

.footer__widget-link {
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.footer__widget-link:hover {
  color: rgb(245, 99, 53);
}
.footer__widget-link:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.footer__widget-info {
  width: 170px;
}

.footer__widget-services,
.footer__widget-contacts {
  width: 270px;
}

.inner-page-section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.inner-page__header {
  margin-bottom: 60px;
  text-align: center;
}

.cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-row__column > a + a {
  margin-top: 30px;
}

.card-row--first {
  margin-bottom: 30px;
}

.inner-page-contacts .main-header {
  line-height: 1.3;
}

.card-link {
  display: block;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.card-link:hover {
  opacity: 0.9;
}
.card-link:focus {
  outline: none;
  opacity: 0.9;
}

.card-link > .card--small {
  height: 100%;
}

.cards-row__column:last-child .card-link {
  height: 100%;
}

.card {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.card--big {
  width: 670px;
}

.card--small {
  width: 470px;
}

.card-title-wrapper {
  margin-top: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 80px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* запрет переноса строки обёртки*/
  overflow: hidden;
  white-space: nowrap;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  /* запрет переноса строки заголовка*/
  text-overflow: ellipsis;
  overflow: hidden;
}

/* модификаторы фона для карточек */
.card-free-tours {
  background-color: #a6a6a6;
}

.card-extreme {
  background-color: #c1b19b;
}

.card-adventures {
  background-color: #66b0be;
}

.card-trekking {
  background-color: #876f56;
}

.card-jungle {
  background-color: #27695e;
}

.inner-page-article {
  padding-top: 60px;
}

.row-article__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-page__nav {
  width: 270px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 10px;
}

.article-page__nav-title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 28px;
  color: #31405b;
}

.article-page__nav-list {
  border-top: 1px solid #d6d9d8;
  font-size: 20px;
  line-height: 26px;
}

.article-page__nav-list li {
  border-bottom: 1px solid #d6d9d8;
}

.article-page__nav-list li a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #138ece;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.article-page__nav-list li a.active {
  font-weight: 700;
  color: rgb(245, 99, 53);
}
.article-page__nav-list li a:hover {
  color: rgb(245, 99, 53);
}
.article-page__nav-list li a:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

/* article-page */
.article-page__article {
  width: 770px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #31405b;
  line-height: 1.6;
  font-size: 20px;
}

.article-page__article a {
  text-decoration-line: underline;
  color: #138ece;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.article-page__article a:hover {
  color: rgb(245, 99, 53);
}
.article-page__article a:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.article-page__article h1 {
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 54px;
}

.article-page__article h2,
.article-page__article h3,
.article-page__article h4,
.article-page__article h5,
.article-page__article h6 {
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: 700;
}

.article-page__article h2 {
  font-size: 32px;
}

.article-page__article h3 {
  font-size: 26px;
}

.article-page__article h4 {
  font-size: 22px;
}

.article-page__article h5 {
  font-size: 20px;
}

.article-page__article h6 {
  font-size: 18px;
}

.article-page__article p {
  margin-bottom: 15px;
}

.article-page__article img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-page__article > *:last-child {
  margin-bottom: 0;
}

.contacts-header {
  margin-bottom: 40px;
}

.contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-info {
  width: 470px;
}

.contact-block:not(:last-child) {
  margin-bottom: 40px;
}

.contact-block__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  color: #31405b;
}

.contact-block__body {
  font-size: 20px;
}

.contact-list li {
  margin-bottom: 22px;
}

.contact-list a {
  color: #138ece;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.contact-list a:hover {
  color: rgb(245, 99, 53);
}
.contact-list a:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

.contact-list-icon {
  padding-left: 39px;
  position: relative;
}

.contact-list-icon::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  left: 0;
}

.contact-list-icon.phone::before {
  background-image: url("../img/contacts/icons/phone.svg");
  background-repeat: no-repeat;
}

.contact-list-icon.email::before {
  background-image: url("../img/contacts/icons/mail.svg");
  background-repeat: no-repeat;
}

.contact-list-icon.address::before {
  background-image: url("../img/contacts/icons/map-pin.svg");
  background-repeat: no-repeat;
}

.map-tablet {
  display: none;
}

.map-mobile {
  display: none;
}

.map-mobile-xs {
  display: none;
}

.form-group .radio-row:last-child {
  margin-bottom: 0px;
}

.form-group .checkbox-row:last-child {
  margin-bottom: 0px;
}

.form {
  width: 630px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
          box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
}

.form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}

.form-group {
  margin-bottom: 30px;
  font-size: 18px;
}

.form-group:last-of-type {
  margin-bottom: 35px;
}

.form-group-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.form-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.form-group-row:last-child {
  margin-bottom: 0px;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  font-size: 18px;
  -webkit-transition: border 0.1s ease-in;
  transition: border 0.1s ease-in;
}
.input::-webkit-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input::-moz-placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input:-ms-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input::-ms-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input::placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input:focus {
  outline: none;
  border: 2px solid #0ac883;
}

.form-group-row > .input + .input {
  margin-left: 10px;
}

.radio-row {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.real-radio,
.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-radio {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  vertical-align: bottom;
  position: relative;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  -webkit-transition: border 0.1s ease-in;
  transition: border 0.1s ease-in;
}

.real-radio:focus + .custom-radio {
  border: 2px solid #0ac883;
}

.custom-radio::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #2ab698;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.real-radio:checked + .custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.checkbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  vertical-align: bottom;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.custom-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-image: url("../img/contacts/icons/check.svg");
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.real-checkbox:focus + .custom-checkbox {
  border: 2px solid #0ac883;
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.inner-page-404 {
  font-size: 20px;
  line-height: 1.6;
  color: #31405b;
}

.link-404 {
  text-decoration: underline;
  color: #138ece;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.link-404:hover {
  color: rgb(245, 99, 53);
}
.link-404:focus {
  outline: none;
  color: rgb(245, 99, 53);
}

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
  /* header */
  .header {
    height: 591px;
  }
  .header__top {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__title-block {
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    top: 51%;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s linear 0.2s;
    transition: opacity 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .header__nav.header__nav--active {
    top: 0;
    opacity: 1;
    -webkit-transition: top 0.2s linear, opacity 0.2s ease-in;
    transition: top 0.2s linear, opacity 0.2s ease-in;
    z-index: 99;
  }
  .header__nav.header__nav--active .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav.header__nav--active .header__nav-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .header__nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__title {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .header__scroll {
    font-size: 0px;
    bottom: 15px;
  }
  .header__scroll::after {
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* main */
  .main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .main__row {
    margin-bottom: 80px;
  }
  .main__row:not(:last-child) {
    margin-bottom: 80px;
  }
  .main__row:last-child {
    margin-bottom: 0px;
  }
  .main__content {
    width: 420px;
  }
  .main__image {
    width: 420px;
  }
  .main-header {
    font-size: 50px;
    line-height: 1;
  }
  .main__content-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.65;
  }
  .main-content-header .main-header {
    line-height: 1;
  }
  /* footer */
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__widget-services {
    display: none;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__logo .logo {
    font-size: 30px;
  }
  .footer__copyright p {
    font-size: 14px;
  }
  .footer__widget + .footer__widget {
    margin-left: 55px;
  }
  .footer__widget-title {
    margin-bottom: 18px;
  }
  .footer__copyright {
    width: 200px;
  }
  .inner-page-section {
    padding-bottom: 60px;
  }
  .inner-page__header {
    margin-bottom: 40px;
  }
  .inner-page__header .main-header {
    line-height: 1.3;
  }
  .cards-row__column:last-child {
    height: 570px;
  }
  .card {
    width: 420px;
  }
  .card--big {
    width: 495px;
  }
  .card--small {
    width: 345px;
  }
  .card-title-wrapper {
    height: 60px;
    padding: 0px 20px;
  }
  .card-title {
    font-size: 24px;
  }
  .inner-page-article {
    padding-top: 40px;
  }
  .article-page__article h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .article-page__article {
    width: 570px;
    font-size: 18px;
    line-height: 1.65;
  }
  .article-page__article img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .article-page__nav-list li a {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 13px;
  }
  .inner-page-contacts {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .contacts-header .main-header {
    font-size: 50px;
  }
  .contacts-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .contact-block {
    width: 420px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .contact-block:first-child > .contact-block__title {
    margin-bottom: 28px;
  }
  .contact-block__title {
    font-size: 24px;
  }
  .contact-block__body {
    font-size: 18px;
  }
  .contact-list li {
    margin-bottom: 22px;
  }
  .map-desktop {
    display: none;
  }
  .map-tablet {
    display: block;
  }
  .form {
    width: 100%;
  }
  .form-group-title {
    margin-bottom: 14px;
  }
  .form-group-row .input {
    padding-left: 25px;
  }
}
@media (max-width: 899px) {
  .header__top {
    width: 100%;
  }
  .header__title-block {
    width: 100%;
  }
  .header__title {
    font-size: 42px;
    margin-bottom: 18px;
  }
  .header__title-block p {
    font-size: 20px;
  }
  .header__title-block {
    top: 48%;
  }
  .main__content-text {
    margin-bottom: 20px;
  }
  .container {
    width: 100%;
  }
  /* main */
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 60px;
  }
  .main__row:not(:last-child) {
    margin-bottom: 60px;
  }
  .main-header {
    font-size: 42px;
  }
  .main__content {
    width: auto;
  }
  .main__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 170px;
    height: 393px;
    margin-right: 30px;
  }
  .main__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__content-text {
    font-size: 16px;
  }
  .main__content .button {
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    height: 46px;
    line-height: 46px;
  }
  /* footer */
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
  }
  .footer__widgets-wrapper {
    width: 100%;
    margin-bottom: 35px;
    padding-top: 0;
  }
  .footer__widgets-wrapper > * {
    width: calc(50% - 15px);
  }
  .footer__widget-title {
    margin-bottom: 20px;
  }
  .footer__widget + .footer__widget {
    margin-left: 30px;
  }
  .header--inner {
    height: 80px;
  }
  .header--inner .logo {
    font-size: 30px;
  }
  .inner-page-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-row--first {
    margin-bottom: 0px;
  }
  .cards-row__column > a + a {
    margin-top: 0px;
  }
  .cards-wrapper .card-link:not(:last-of-type),
  .cards-wrapper .cards-row:not(:last-of-type),
  .cards-wrapper .cards-row__column:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .card {
    width: 570px;
  }
  .cards-row__column:last-child {
    height: auto;
  }
  .card-link > .card--small {
    height: auto;
  }
  .card-title-wrapper {
    padding: 0px 25px;
  }
  .inner-page-article {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .row-article__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-page__article {
    margin-bottom: 40px;
  }
  .article-page__nav {
    width: 100%;
  }
  .article-page__article h1 {
    font-size: 42px;
  }
  .article-page__article {
    width: 100%;
    font-size: 16px;
    line-height: 1.65;
    margin-bottom: 30px;
  }
  .article-page__article img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .article-page__article h2,
  .article-page__article h3,
  .article-page__article h4,
  .article-page__article h5,
  .article-page__article h6 {
    line-height: 2;
    margin-bottom: 4px;
    font-weight: 700;
  }
  .article-page__nav-title {
    margin-bottom: 20px;
  }
  .inner-page-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contacts-header {
    margin-bottom: 30px;
  }
  .contacts-header .main-header {
    font-size: 42px;
  }
  .contacts-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-block {
    width: 100%;
  }
  .contact-list li:last-child {
    margin-bottom: 0px;
  }
  .map-tablet {
    display: none;
  }
  .map-mobile {
    display: block;
  }
  .form {
    width: 100%;
  }
  .form {
    padding: 30px;
  }
  .input {
    padding-left: 20px;
  }
  .radio-row {
    margin-bottom: 21px;
  }
  .form-group:last-of-type {
    margin-bottom: 30px;
  }
  .form-group-row .input {
    padding-left: 17px;
  }
  .submit-button {
    height: 46px;
    padding: 0px 30px;
    line-height: 46px;
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  .logo {
    font-size: 30px;
  }
  .header__top,
  .header__title-block {
    width: 100%;
  }
  .header__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .header__title-block {
    top: 49%;
  }
  .header__title-block p {
    font-size: 18px;
  }
  /* main */
  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main .container {
    width: 100%;
  }
  .main-header {
    font-size: 34px;
  }
  .main__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: auto;
    height: 150px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .main__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .main__row:not(:last-child) {
    margin-bottom: 40px;
  }
  .main__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__content-text {
    margin-bottom: 20px;
  }
  /* footer */
  .footer {
    text-align: center;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__widgets-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .footer__widget-services {
    display: block;
  }
  .footer__widget {
    margin-bottom: 38px;
  }
  .footer__widget:last-child {
    margin-bottom: 37px;
  }
  .footer__widget + .footer__widget {
    margin-left: 0px;
  }
  .footer__widgets-wrapper > * {
    width: 100%;
  }
  .footer__widgets-wrapper {
    padding-top: 0px;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
  .footer__widget-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .footer__widget-list {
    font-size: 16px;
  }
  .footer__widget-item {
    margin-bottom: 10px;
  }
  .inner-page__header > .main-header {
    font-size: 28px;
  }
  .inner-page__header {
    margin-bottom: 30px;
    line-height: 1;
  }
  .inner-page__header .main-header {
    line-height: 1;
  }
  .card {
    width: 100%;
  }
  .card-row {
    width: 100%;
  }
  .card-title-wrapper {
    height: 50px;
    padding: 0px 15px;
  }
  .card-title {
    font-size: 20px;
  }
  .cards-wrapper .card-link:not(:last-of-type),
  .cards-wrapper .cards-row:not(:last-of-type),
  .cards-wrapper .cards-row__column:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .inner-page-article {
    padding-bottom: 40px;
  }
  .article-page__article {
    margin-bottom: 20px;
  }
  .article-page__article h1 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.3;
  }
  .article-page__article h2,
  .article-page__article h3 {
    line-height: 1;
  }
  .article-page__nav-title {
    margin-bottom: 14px;
  }
  .article-page__nav-list li a {
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 1.3;
  }
  .article-page__nav-title {
    font-size: 22px;
  }
  .article-page__article h2,
  .article-page__article h3,
  .article-page__article h4,
  .article-page__article h5,
  .article-page__article h6 {
    margin-bottom: 15px;
  }
  .article-page__nav {
    padding-top: 0;
  }
  .inner-page-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contacts-header .main-header {
    font-size: 28px;
    line-height: 1;
  }
  .contacts-info {
    margin-bottom: 30px;
  }
  .contact-block__title {
    font-size: 20px;
  }
  .contact-block:first-child > .contact-block__title {
    margin-bottom: 20px;
  }
  .contact-list-icon {
    padding-left: 34px;
  }
  .contact-block__body {
    font-size: 16px;
  }
  .contact-block:not(:last-child) {
    margin-bottom: 30px;
  }
  .map-mobile {
    display: none;
  }
  .map-mobile-xs {
    display: block;
  }
  .form {
    padding: 20px 15px 30px;
  }
  .form-title {
    font-size: 24px;
  }
  .form-group-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-group-row .input {
    padding-left: 15px;
  }
  .form-group-row > .input + .input {
    margin-left: 0px;
    margin-top: 10px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group-title {
    font-size: 18px;
    margin-bottom: 11px;
  }
  .form-group label {
    font-size: 16px;
  }
  .radio-row {
    margin-bottom: 10px;
  }
  .form-group:last-of-type {
    margin-bottom: 20px;
  }
  .checkbox-row {
    margin-bottom: 22px;
  }
  .inner-page-404 .main-header {
    margin-bottom: 10px;
  }
  .button {
    padding-left: 35px;
    padding-right: 35px;
  }
}
/* Технический класс */
.none {
  display: none;
}

.bgcolor {
  background-color: #f2f8f6;
}

#overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 2;
}
@media (min-width: 1200px) {
  #overlay {
    display: none;
  }
}

.body--noscroll {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .body--noscroll {
    overflow: unset;
  }
}